<section id="home" class="bg-gray-100 py-20">
    <div class="container mx-auto text-center">
        <h1 class="text-4xl font-bold mb-4">Hello, I am David</h1>
        <p class="text-lg text-gray-700">I like to build stuff and learn new things</p>
    </div>
</section>

<section id="about" class="bg-white py-20">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl font-bold mb-4">About me</h2>
        <p class="text-gray-600 max-w-3xl mx-auto">
            I am currently working as a frontend developer for <a href="https://xapling.de/">xapling</a> for more than
            {% yearsSince %} years now.
            In those years I worked across multiple projects from creating and maintaining a Angular component-library
            to developing a brand-new CRUD-program to manage employees.
        </p>
        </br>
        <p>Outside of work I love to run and cycle, learn new things in all areas and tinker with all kinds of
            electronis, always beeing watched by my two cats.</p>
    </div>
</section>




