<section id="techstack" class="py-20 dark:bg-slate-800">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl dark:text-slate-300 font-bold mb-4">My techstack</h2>
    </div>
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            {% for post in collections.techstack | sortSkill %}
            <div class="bg-white dark:bg-slate-900 p-6 shadow rounded-lg flex flex-col justify-between">
                <div>
                    <h3 class="text-xl dark:text-slate-300 font-bold">{{ post.data.title }}</h3>
                    {% if post.data.description %} 
                    <h4 class="mb-1 text-xs italic text-gray-900 dark:text-slate-300">{{ post.data.description }}</h4>
                    {% endif %}
                    <div class="flex space-x-4">
                        <div class="w-full h-2 bg-gray-300 rounded-full">
                            <div class="bg-blue-800 h-2 rounded-full" style="width: {{ post.data.experience }}%"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>