---
title: David
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="David Moll's personal portfolio website showcasing projects, skills, and experience in software development and design." />
    <meta name="generator" content="Eleventy" />
    <title>David Moll | Portfolio</title>
    
    <!-- Open Graph / Facebook Meta Tags -->
    <meta property="og:title" content="{{ title }} | David Moll Portfolio" />
    <meta property="og:description" content="David Moll's personal portfolio website showcasing projects, skills, and experience in software development and design." />
    <meta property="og:url" content="https://www.davidmoll.net/" />
    <meta property="og:image" content="https://opengraph.b-cdn.net/production/images/045a38d4-8003-469f-9233-ed895e37a077.jpg?token=iJGd3IGKf1otwA9IhzSuha_34e6SWtl2qeQ5hmAaIOk&height=630&width=1200&expires=33285828859"/>
    <meta property="og:type" content="website" />

    {% set css %} {% include "bundle.css" %} {% endset %}
    {% set js %} {% include "bundle.js" %} {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <div class="header">
      <span id="typed-text"></span>
    </div>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/resume">Résumé</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    {{ content | safe }}
    <canvas id="hexCanvas"></canvas>

    <footer class="site-footer">
      <p>
        Source code on
        <a
          href="https://github.com/yourusername/your-repo"
          target="_blank"
          rel="noopener">
          GitHub
        </a>
        | Made with
        <a href="https://www.11ty.dev/" target="_blank" rel="noopener">11ty</a>
      </p>
    </footer>
    <script>
{{ js | jsmin | safe }}
</script>
  </body>
</html>
