<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="The portfolio-website of David Moll">
    <meta name="keywords" content="Portfolio, web-development, 11ty">
    <meta name="author" content="David Moll">
    <meta name="generator" content="Eleventy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Moll - Portfolio</title>
    <link href="output.css" rel="stylesheet">
</head>

<body class="min-h-screen flex flex-col">

    <nav class="sticky top-0 bg-gray-800 text-white">
        <div class="container mx-auto flex items-center justify-between py-4 px-6">
            <a href="#" class="text-2xl font-bold">David Moll</a>
            <ul class="hidden md:flex space-x-6">
                <li><a href="#home" class="hover:text-blue-400">Home</a></li>
                <li><a href="#about" class="hover:text-blue-400">About</a></li>
                <li><a href="#techstack" class="hover:text-blue-400">Techstack</a></li>
                <li><a href="#projects" class="hover:text-blue-400">Projects</a></li>
                <li><a href="#timeline" class="hover:text-blue-400">Timeline</a></li>
            </ul>
        </div>
    </nav>

    <main class="flex-grow">
        
        {% include "about-me.njk" %}

        {% include "techstack.njk" %}

        {% include "projects.njk" %}

        {% include "timeline.njk" %}
    </main>

    <footer class="bg-gray-800 text-white py-4">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 My Website. All rights reserved. Made with <a href="https://www.11ty.dev/">11ty</a></p>
        </div>
    </footer>

</body>

</html>