<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="The portfolio-website of David Moll">
    <meta name="keywords" content="Portfolio, web-development, 11ty">
    <meta name="author" content="David Moll">
    <meta name="generator" content="Eleventy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Moll - Portfolio</title>
    <link href="output.css" rel="stylesheet">
    <meta property="og:url" content="https://davidmoll.net" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="The portfolio of David Moll" />
    <meta property="og:description" content="Take a look at my skills, experience and projects" />
    <meta property="og:locale" content="en_GB" />
    <script defer src="https://umami.davidmoll.net/script.js"
        data-website-id="4527d63b-7314-4ea1-bce2-6657940ca9b6"></script>
</head>

<body class="min-h-screen flex flex-col">
    <nav class="sticky top-0 bg-gray-800 text-white">
        <div class="container mx-auto flex items-center justify-between py-4 px-6">
            <a href="#" class="text-2xl font-bold">David Moll</a>
            <ul class="hidden md:flex space-x-6">
                <li><a href="#home" class="hover:text-blue-400">Home</a></li>
                <li><a href="#about" class="hover:text-blue-400">About</a></li>
                <li><a href="#techstack" class="hover:text-blue-400">Techstack</a></li>
                <li><a href="#projects" class="hover:text-blue-400">Projects</a></li>
                <li><a href="#timeline" class="hover:text-blue-400">Timeline</a></li>
            </ul>
        </div>
    </nav>

    <main class="flex-grow">

        {% include "about-me.njk" %}

        {% include "techstack.njk" %}

        {% include "projects.njk" %}

        {% include "timeline.njk" %}

        <section class="bg-gray-100 dark:bg-slate-800">
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 py-24">
                <div class="flex items-center justify-center">
                    <a href="mailto:contact@davidmoll.net"
                        class="bg-blue-600 hover:bg-blue-700 text-white font-bold m-5 py-5 px-6 rounded-xl text-2xl shadow-xl transition duration-300 transform hover:scale-105 text-center max-w-xs">
                        Contact
                    </a>
                </div>
                <div class="flex items-center justify-center">
                    <a href="/assets/David-Moll-CV-Deutsch.pdf" target="_blank"
                        class="bg-green-600 hover:bg-green-700 text-white font-bold m-5 py-5 px-6 rounded-xl text-2xl shadow-xl transition duration-300 transform hover:scale-105 text-center max-w-xs">
                        Résumé (German)
                    </a>
                </div>
                <div class="flex items-center justify-center">
                    <a href="/assets/David-Moll-CV-English.pdf" target="_blank"
                        class="bg-green-600 hover:bg-green-700 text-white font-bold m-5 py-5 px-6 rounded-xl text-2xl shadow-xl transition duration-300 transform hover:scale-105 text-center max-w-xs">
                        Résumé (English)
                    </a>
                </div>
            </div>
        </section>
    </main>

    <footer class="bg-gray-800 text-white py-4">
        <div class="container mx-auto text-center">
            <p>&copy; {{ currentYear }} David Moll. All rights reserved. Made with <a
                    href="https://www.11ty.dev/">11ty</a></p>
        </div>
    </footer>

</body>

</html>